*{
  padding: 0px;
  margin: 0px;
}
body{
  width:100%;
  background: black;
}
.page{
  width:70%;
  background: white;
  margin: 0 auto;
}

article{
    background-color: white;
    weight: 60%;
}

header{
  font-size:16px; 
  font-family: 'Oswald', sans-serif; 
  font-weight: lighter; 
  text-transform: uppercase;
  margin-bottom: 20px;
}

section{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

h1{
  font-size:50px;
  font-weight: bold;
  margin-bottom: 10px;
}

h1 span{
    color:orangered;  
}

p{
  font-size:20px;
}

.left_aside{
  width:180px; 
  border: black 1px solid;
  padding: 5px;font-family: 'Roboto', sans-serif; 
  margin-left: 25px; 
  float: left;
  margin-top:  200px;
}

.aside_header{
  color:palevioletred; 
  font-size: 16px;
  font-weight:700;
}

.aside_subheader{
  font-size: 12px;  
  font-weight: 900;
}

.aside_list{
  font-size: 11px; 
  padding: 13px;
}

.right_aside{
  width:180px; 
  border: black 1px solid; 
  padding: 5px;font-family: 'Roboto', sans-serif; 
  margin-right: 25px;
  float: right;
  margin-top:  200px;
}

img{
  width:50%;
  margin-top: 20px;
  
}